<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{game/gameDefault}">

<head>
	<title layout:fragment="title">게임 회원가입</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script">
		<script src="/js/join.js"></script>
	</th:block>
</head>

	<div layout:fragment="main" id="main">
		<form method="post" action="/game/signUp" th:object="${gameDto}">
			<div id="formData">
				<div class="inputField">
					<label th:for="email">이메일</label>
					<input type="email" th:field="*{email}">
					<p th:if="${#fields.hasErrors('email') }" th:errors="*{email}"></p>
				</div>
				<div class="inputField">
					<label th:for="password">비밀번호</label>
					<input type="password" th:field="*{password}">
					<p th:if="${#fields.hasErrors('password') }" th:errors="*{password}"></p>
				</div>
				<div class="inputField">
					<label th:for="nickName">닉네임</label>
					<input type="text" th:field="*{nickName}">
					<p th:if="${#fields.hasErrors('nickName') }" th:errors="*{nickName}"></p>
				</div>
				
				<button id="joinBt">signUp</button>
				
			</div>
		
		
		</form>
		
	</div>
	

</html>